@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
html,
body {
  @apply p-0 m-0;
}
h1 {
  @apply text-center text-4xl font-bold text-cyan-800 dark:text-neutral-200 pt-3 pb-8;
}
h2 {
  @apply text-center text-2xl text-neutral-800 dark:text-neutral-200;
}
p {
  @apply text-base text-neutral-600 dark:text-neutral-400;
}

.sub-title {
  @apply text-xl py-2 text-neutral-600 dark:text-neutral-300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  @apply text-neutral-700 dark:text-neutral-200 flex align-middle font-sans;
}
.btn-isActive {
  @apply bg-amber-400 dark:bg-indigo-500 pointer-events-none;
}
.container {
  @apply max-w-[854px] mt-24 md:mt-12 py-12 px-8;
}

.shadow-box {
  @apply shadow-xl p-5 rounded-xl my-10;
}

.badge {
  @apply dark:text-zinc-300;
}

.link-on-hover {
  @apply transition-all hover:scale-125 ease-in-out delay-100;
}
