@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
html,
body {
  @apply p-0 m-0;
}
h1 {
  @apply text-center text-4xl font-bold text-cyan-800 dark:text-zinc-200;
}
h2 {
  @apply text-center text-2xl text-zinc-800 dark:text-zinc-200;
}
p {
  @apply text-base text-zinc-600 dark:text-zinc-400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-isActive {
  @apply bg-orange-400 dark:bg-neutral-400;
}
.container {
  @apply max-w-[828px] mt-24 md:mt-12 py-12 md:px-8;
}

.content {
  @apply px-5 mx-4;
}

.shadow-box {
  @apply shadow-lg p-5 rounded-xl my-10 mx-4;
}
